<div class="container">
    <div class="row">
        <div class="col-4">
            <label for="">Event Title</label>
            <input type="text" [(ngModel)]="eventObj.EventName" class="form-control">
        </div>
        <div class="col-3">
            <label for="">Event Location</label>
            <input type="text" [(ngModel)]="eventObj.Location" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="">Start Date</label>
            <input type="date" [(ngModel)]="eventObj.StartDate" class="form-control">
        </div>
        <div class="col-2">
            <label for="">Start Time</label>
            <input type="text" [(ngModel)]="eventObj.StartTime" class="form-control">
        </div>
        <div class="col-2">
            <label for="">End Date</label>
            <input type="date" [(ngModel)]="eventObj.EndDate" class="form-control">
        </div>
        <div class="col-2">
            <label for="">End Time</label>
            <input type="text" [(ngModel)]="eventObj.EndTime" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="">Max capacity</label>
            <input type="text" [(ngModel)]="eventObj.Capacity" class="form-control">
        </div>
        <div class="col-3">
            <label for="">Entry fee</label>
            <input type="text" [(ngModel)]="eventObj.Price" class="form-control">
        </div>
        <div class="col-3">
            <label for="">Image Url</label>
            <input type="text" [(ngModel)]="eventObj.Image" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="">Is Identity Mandatory</label>
            <input type="checkbox">
        </div>
        <div class="col-3">
            <label for="">Is Couple Mandatory</label>
            <input type="checkbox">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="">Description</label>
            <textarea  rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="row pt-3 text-center">
        <div class="col-3">
            <button class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success">Create Event</button>
        </div>
    </div>
</div>
